<section class="componente">
    <div class="cabecalho">
        <span class="titulo">
            {{ titulo }}
        </span>
    </div>

    <div class="ferramentas" *ngIf="!telaRegistro || modoConsulta">
        <div class="crud">
            <button
            class="btn-crud"
            (click)="incluirRegistro()"
            >
                Incluir
            </button>

            <button
            class="btn-crud"
            (click)="telaRegistro ? modoConsulta = false : alterarRegistro()"
            [disabled]="!dataRow['ID_' + tabela]"
            >
                Alterar
            </button>
            
            <button
            class="btn-crud"
            (click)="consultarRegistro()"
            [disabled]="!dataRow['ID_' + tabela]"
            >
                Consultar
            </button>

            <button
            class="btn-crud"
            (click)="deletarRegistro()"
            [disabled]="!dataRow['ID_' + tabela]"
            >
                Excluir
            </button>
        </div>

        <div class="buscar" *ngIf="!telaRegistro">
            <input
            type="search"
            name="BUSCAR"
            id="BUSCAR"
            class="inp-buscar"
            [(ngModel)]="termoBusca"
            >
            
            <button class="btn-crud" (click)="dadosGrid()">
                Buscar
            </button>
        </div>

        <div class="buscar" *ngIf="telaRegistro && modoConsulta">
            
            <button class="btn-crud" (click)="cancelarRegistro()">
                Voltar
            </button>
        </div>
    </div>

    <div class="ferramentas" *ngIf="telaRegistro && !modoConsulta">
        <div class="crud">
            <button class="btn-crud" (click)=" modoEditando ? salvarAlteracao() : salvarRegistro()">
                Salvar
            </button>

            <button class="btn-crud" (click)="cancelarRegistro()">
                Cancelar
            </button>
        </div>
    </div>

    <div class="tabela-container" *ngIf="!telaRegistro">
        <table class="data-grid">
            <thead>
                <tr>
                    <th *ngFor="let col of colunas" [style.width]="col.width">
                        {{ col.header }}
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let row of dataGrid"
                [id]="row['ID_' + tabela]"
                (click)="dataRow['ID_' + tabela] = row['ID_' + tabela]"
                [ngClass]="{'gridRow': row['ID_' + tabela] === dataRow['ID_' + tabela]}"
                >
                    <td *ngFor="let col of colunas">
                        {{ row[col.field] }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="registro-container" *ngIf="telaRegistro">
        <div class="formulario">

            <div class="grupo-form" *ngFor="let campo of formCampos" [style.width]="campo.width">
                <label [for]="campo.nome">
                    {{ campo.label }}
                </label>

                <ng-container [ngSwitch]="campo.tipo">

                    <input
                    *ngSwitchCase="'text'"
                    type="text"
                    [name]="campo.nome"
                    [id]="campo.nome"
                    [(ngModel)]="dataRow[campo.nome]"
                    [required]="campo.required"
                    [ngClass]="{ 'teste' : campo.required && !dataRow[campo.nome] }"
                    [disabled]="modoConsulta"
                    >

                    <select
                    *ngSwitchCase="'select'"
                    [name]="campo.nome"
                    [id]="campo.nome"
                    [(ngModel)]="dataRow[campo.nome]"
                    [required]="campo.required"
                    [ngClass]="{ 'teste' : campo.required && !dataRow[campo.nome] }"
                    [disabled]="modoConsulta"
                    >
                        <option *ngFor="let opt of campo.opcoes" [value]="opt.value">
                            {{ opt.label }}
                        </option>
                    </select>

                    <input
                    *ngSwitchCase="'checkbox'"
                    type="checkbox"
                    [name]="campo.nome"
                    [id]="campo.nome"
                    [(ngModel)]="dataRow[campo.nome]"
                    [required]="campo.required"
                    [ngClass]="{ 'teste' : campo.required && !dataRow[campo.nome] }"
                    [disabled]="modoConsulta"
                    >

                    <textarea
                    *ngSwitchCase="'textarea'"
                    [name]="campo.nome"
                    [id]="campo.nome"
                    [(ngModel)]="dataRow[campo.nome]"
                    [disabled]="modoConsulta"
                    ></textarea>
                    
                    <div *ngSwitchCase="'lookup'" class="lookup-container">
                        <input
                            type="text"
                            [name]="campo.lookup.display"
                            [id]="campo.lookup.display"
                            [(ngModel)]="dataRow[campo.lookup.display]"
                            [required]="campo.required"
                            [ngClass]="{ 'teste' : campo.required && !dataRow[campo.nome] }"
                            class="lookup-input"
                            readonly
                        >
                        
                        <button 
                            type="button" 
                            class="btn-lookup"
                            (click)="abrirModalLookup(campo)" 
                            [disabled]="modoConsulta"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon-lookup">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                            </svg>
                        </button>
                    </div>

                </ng-container>

            </div>

        </div>
    </div>
</section>

<dialog class="dialog-box" #dialog>
    
    <div class="img-dialog" *ngIf="dialogSucesso">
        <img src="check.svg" alt="check">
    </div>

    <div class="img-dialog" *ngIf="!dialogSucesso">
        <img src="cross.svg" alt="cross">
    </div>

    <span class="msg-dialog">
        {{ dialogMensagem }}
    </span>

    <button
    class="btn-dialog"
    (click)="fecharDialog()"
    >
        OK
    </button>

</dialog>

<dialog #dialogLookup class="dialog-padrao">
    <div class="dialog-header">
        <h3>Selecione um registro</h3>
        <button type="button" class="btn-fechar" (click)="fecharModalLookup()">X</button>
    </div>

    <div class="dialog-body-lookup">
        <table class="table-lookup">
            <thead>
                <tr>
                    <th *ngFor="let col of colunasGridLookupAtuais">{{ col.header }}</th>
                    <th class="col-acao">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of dadosGridLookup">
                    <td *ngFor="let col of colunasGridLookupAtuais">{{ row[col.field] }}</td>
                    <td class="col-acao">
                        <button type="button" class="btn-confirmar" (click)="selecionarRegistroLookup(row)">
                            Confirmar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</dialog>