<section class="componente">
    <div class="cabecalho">
        <span class="titulo">
            {{ titulo }}
        </span>
    </div>

    <div class="ferramentas" *ngIf="!telaRegistro">
        <div class="crud">
            <button class="btn-crud" (click)="incluirRegistro()">
                Incluir
            </button>

            <button class="btn-crud">
                Alterar
            </button>
            
            <button class="btn-crud" (click)="consultarRegistro()">
                Consultar
            </button>

            <button class="btn-crud">
                Excluir
            </button>
        </div>

        <div class="buscar">
            <input
            type="search"
            name="BUSCAR"
            id="BUSCAR"
            class="inp-buscar"
            [(ngModel)]="termoBusca"
            >
            
            <button class="btn-crud" (click)="dadosGrid()">
                Buscar
            </button>
        </div>
    </div>

    <div class="ferramentas" *ngIf="telaRegistro">
        <div class="crud">
            <button class="btn-crud" (click)="salvarRegistro()">
                Salvar
            </button>

            <button class="btn-crud" (click)="telaRegistro = false">
                Cancelar
            </button>
        </div>
    </div>

    <div class="tabela-container" *ngIf="!telaRegistro">
        <table class="data-grid">
            <thead>
                <tr>
                    <th *ngFor="let col of colunas" [style.width]="col.width">
                        {{ col.header }}
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let row of dataGrid"
                [id]="row['ID_' + tabela]"
                (click)="dataRow['ID_' + tabela] = row['ID_' + tabela]"
                [ngClass]="{'gridRow': row['ID_' + tabela] === dataRow['ID_' + tabela]}"
                >
                    <td *ngFor="let col of colunas">
                        {{ row[col.field] }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="registro-container" *ngIf="telaRegistro">
        <div class="formulario">

            <div class="grupo-form" *ngFor="let campo of formCampos" [style.width]="campo.width">
                <label [for]="campo.nome">
                    {{ campo.label }}
                </label>

                <ng-container [ngSwitch]="campo.tipo">

                    <input
                    *ngSwitchCase="'text'"
                    type="text"
                    [name]="campo.nome"
                    [id]="campo.nome"
                    [(ngModel)]="dataRow[campo.nome]"
                    [required]="campo.required"
                    >

                    <select
                    *ngSwitchCase="'select'"
                    [name]="campo.nome"
                    [id]="campo.nome"
                    [(ngModel)]="dataRow[campo.nome]"
                    >
                        <option *ngFor="let opt of campo.opcoes" [value]="opt.value">
                            {{ opt.label }}
                        </option>
                    </select>

                    <input
                    *ngSwitchCase="'checkbox'"
                    type="checkbox"
                    [name]="campo.nome"
                    [id]="campo.nome"
                    [(ngModel)]="dataRow[campo.nome]"
                    [value]="campo.check"
                    >

                    <textarea
                    *ngSwitchCase="'textarea'"
                    [name]="campo.nome"
                    [id]="campo.nome"
                    [(ngModel)]="dataRow[campo.nome]"
                    ></textarea>

                </ng-container>

            </div>

        </div>
    </div>
</section>

<dialog class="dialog-box" #dialog>
    
    <div class="img-dialog" *ngIf="dialogSucesso">
        <img src="check.svg" alt="check">
    </div>

    <div class="img-dialog" *ngIf="!dialogSucesso">
        <img src="cross.svg" alt="cross">
    </div>

    <span class="msg-dialog">
        {{ dialogMensagem }}
    </span>

    <button
    class="btn-dialog"
    (click)="fecharDialog()"
    >
        OK
    </button>

</dialog>